
@{
    ViewBag.Title = "Full house (dịch vụ chọn nhà chuyên nghiệp)";
}

@Html.Partial("_Banner")
<br />
<div class="Body-Top container col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 col-sm-12 col-xs-12 panel-body">
        <div class="col-md-3 col-xs-12 col-sm-6 Top-Tooltip">
            <div class="Tooltip caption hidden-xs">
                <p>Giới thiệu về chúng tôi</p>
                <a href="/gioi-thieu" class="btn btn-success" rel="tooltip" title="Xem thông tin chi tiết">Xem thông tin</a>
            </div>
            <a href="/gioi-thieu"><img src="~/Content/front/img/GioiThieu.png" class="img-responsive img-BodyTop" alt="Giới thiệu về chúng tôi" /></a>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 Top-Tooltip">
            <a href="/lien-he">
                <img src="~/Content/front/img/TimChungToi.png" class="img-responsive img-BodyTop" alt="Chúng tôi ở đây" />
            </a>
            <div class="Tooltip caption hidden-xs">
                <p>Bạn muốn tìm chúng tôi!</p>
                <a href="/lien-he" class="btn btn-success" rel="tooltip" title="Xem thông tin chi tiết">Xem thông tin</a>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 Top-Tooltip">
            <a href="/dich-vu"><img src="~/Content/front/img//DangKyDichVu.png" class="img-responsive img-BodyTop" alt="Đang ký dịch vụ" /></a>
            <div class="Tooltip caption hidden-xs">
                <p>Đăng ký dịch vụ ngay!</p>
                <a href="/dich-vu" class="btn btn-success" rel="tooltip" title="Xem thông tin chi tiết">Xem thông tin</a>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6 Top-Tooltip">
            <a href="/bai-viet"><img src="~/Content/front/img//KienThuc.png" class="img-responsive img-BodyTop" alt="Kiến thức chuyên sâu" /></a>
            <div class="Tooltip caption hidden-xs">
                <p>Kiến thức cần biết</p>
                <a href="/bai-viet" class="btn btn-success" rel="tooltip" title="Xem thông tin chi tiết">Xem thông tin</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 Body-Mid">
    <div class="panel-body">
        <div class="col-md-12" style="text-align:center; border-bottom:3px solid #0A921A; background-color:#ffffff">
            <p style="color:#137CFE; font-size:40px;">Dịch vụ của chúng tôi</p>
        </div>
        <div class="DichVu-Main col-md-12">
            <div class="col-md-6 col-xs-12 col-sm-6 DichVu-All">
                <a href="/dich-vu/don-nha-theo-tieng">
                    <img src="~/Content/front/img/DichVuDonNhaTheoTieng.png" class="img-responsive img-BodyMid" alt="Vệ sinh văn phòng" />
                </a>
                <div class="ChuThich-NoiDung">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <h2 class="TieuDe-NoiDung">Dọn nhà theo tiếng</h2>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="/dich-vu/don-nha-theo-tieng" class="btn-Xem btn-success" title="Xem thông tin chi tiết">Xem thông tin</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 DichVu-All">
                <a href="/dich-vu/ve-sinh-van-phong">
                    <img src="~/Content/front/img/DichVuVSVP.png" class="img-responsive img-BodyMid" alt="Vệ sinh văn phòng" />
                </a>
                <div class="ChuThich-NoiDung">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <h2 class="TieuDe-NoiDung">Vệ sinh văn phòng</h2>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="/dich-vu/ve-sinh-van-phong" class="btn-Xem btn-success" title="Xem thông tin chi tiết">Xem thông tin</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 DichVu-All">
                <a href="/dich-vu/ve-sinh-cong-nghiep">
                    <img src="~/Content/front/img/DichVuVSCN.png" class="img-responsive img-BodyMid" alt="Vệ sinh công nghiệp" />
                </a>
                <div class="ChuThich-NoiDung">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <h2 class="TieuDe-NoiDung">Vệ sinh công nghiệp</h2>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="/dich-vu/ve-sinh-cong-nghiep" class="btn-Xem btn-success" title="Xem thông tin chi tiết">Xem thông tin</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 DichVu-All">
                <a href="/bai-viet">
                    <img src="~/Content/front/img/DichVuFAQ.png" class="img-responsive img-BodyMid" alt="Các bài viết" />
                </a>
                <div class="ChuThich-NoiDung">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <h2 class="TieuDe-NoiDung">Bài viết</h2>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="/bai-viet" )" class="btn-Xem btn-success" title="Xem thông tin chi tiết">Xem thông tin</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color:#ffffff">
    <div class="panel-body">
        <div class="" style="text-align:center; border-bottom:3px solid #0A921A; background-color:#ffffff">
            <h3 style="color:#137CFE; font-size:40px;">Lý do chọn chúng tôi</h3>
        </div>
        <div class="Body-Bot">
            <div class="col-md-6">
                <h3 class="TieuDe">Dịch vụ chuyên nghiệp</h3>
                <p class="NoiDung">
                    Tại FULL HOUSE chúng tôi cung cấp dịch vụ don dẹp vệ sinh nhà cửa cho toàn thể
                    quý khách tại thành phố Hải Phòng. Bạn có thể sử dụng dịch vụ của chúng tôi để làm
                    sạch căn nhà thân yêu của mình.
                </p>
                <p class="NoiDung">
                    Dịch vụ của chúng tôi đảm bảo bạn sẽ có nhiều thời gian hơn để dành cho gia
                    đình và những người thân yêu của mình và có thể tập trung cho công việc của mình nhiều hơn.
                </p>
            </div>
            <div class="col-md-6">
                <div class="col-md-2">
                    <img src="~/Content/front/img//TietKiemLogo.png" class="img-responsive LogoNho" />
                </div>
                <div class="col-md-10">
                    <h3 class="TieuDe">Tiết kiệm</h3>
                    <p class="NoiDung">
                        Chúng tôi đảm bảo cung cấp dịch vụ dọn nhà cho quý khách. Vui lòng tham khảo bảng
                        giá <a href="#" style="color:#ff0000">tại đây</a>.
                    </p>
                </div>
                <div class="col-md-2">
                    <img src="~/Content/front/img//HieuQuaLogo.png" class="img-responsive LogoNho" />
                </div>
                <div class="col-md-10">
                    <h3 class="TieuDe">Hiệu quả</h3>
                    <p class="NoiDung">
                        Bạn chắc chắn sẽ hài lòng với dịch vụ dọn vệ sinh nhà cửa, văn phòng, vệ sinh công
                        nghiệp của chúng tôi.
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <img src="~/Content/front/img//CleanHomeLogo.png" class="img-responsive LogoTo" />
                </div>
                <div class="col-md-9 LogoTo-Text">
                    <h3 class="TieuDe">Làm sạch căn nhà của bạn chính là sứ mạng của chúng tôi</h3>
                    <p class="NoiDung">
                        Sự hài lòng của bạn chính là tôn chỉ của chúng tôi. Vì thế cho nên, Dịch vụ của
                        chúng tôi luôn có được kết quả làm bạn hài lòng nhất. Đây là lý do để bạn lựa chọn
                        và tin tưởng chúng tôi trong lĩnh vực này.
                    </p>
                    <p class="NoiDung">
                        Đặc biệt, sẽ có những ưu đãi dành cho bạn nếu như bạn tin tưởng và sử dụng dịch
                        vụ của chúng tôi trong một thời gian dài. Tìm hiểu thêm những ưu đãi dành cho bạn
                        <a href="#" style="color:#ff0000">tại đây</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@*Tạo hiệu ứng đổ xuống*@
<script type="text/javascript">
    $(document).ready(function () {
        $("[rel='tooltip']").tooltip();
        $('.DichVu-All').hover(
        function () {
            $(this).find('.caption').slideDown(0); //Xuống
        },
        function () {
            $(this).find('.caption').slideUp(0); //lên
        }
        );
    });

    $(document).ready(function () {
        $("[rel='tooltip']").tooltip();
        $('.Top-Tooltip').hover(
        function () {
            $(this).find('.caption').slideDown(250); //Xuống
        },
        function () {
            $(this).find('.caption').slideUp(200); //lên
        }
        );
    });
</script>