
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info container">
    <div class="panel" style="text-align:center; border-bottom-color:#0A921A">
        <h3 style="color:#137CFE; font-size:40px; font-weight:bold">CÔNG TY  DỊCH VỤ VỆ SINH FULL HOUSE</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-7">

            <h3 class="DiaChi">
                <span style="color:red">Đia chỉ: </span>
                <span style="color:blue">50 Thiên Lôi, Hải Phòng</span>
            </h3>
            <h3 class="DiaChi">
                <span style="color:red">Số điện thoại: </span>
                <span style="color:blue">0313 78 1809</span>
            </h3>
            <h3 class="DiaChi">
                <span style="color:red">Hotline: </span>
                <span style="color:blue">0925 866 789</span>
            </h3>
            <h3 class="DiaChi">
                <span style="color:red">Email: </span>
                <span style="color:blue">donnhataihaiphong@gmail.com</span>
            </h3>
            <h3 class="DiaChi">
                <span style="color:red">Website: </span>
                <span style="color:blue"><a href="http://donnhataihaiphong.com/" style="color:blue">http://donnhataihaiphong.com/</a></span>
            </h3>
            <h3 class="DiaChi">
                <span style="color:blue">Hân hạnh được phục vụ quý khách</span>
            </h3>
        </div>
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.775186594451!2d106.66527801438491!3d20.84078279954605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7a797a655353%3A0x63ce06e8826d4e94!2zNTAgVGhpw6puIEzDtGksIE5naMSpYSBYw6EsIEzDqiBDaMOibiwgSOG6o2kgUGjDsm5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1465180883669" width="100%" height="300px;" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

