

/*Post*/
/*child-post {
    margin: 20px 0;
    height: 180px;
}

.child-post .title-child-post {
    float: left;
    width: 25%;
}

.child-post .text {
    float: left;
    width: 70%;
    margin-left: 15px;
}

    .child-post .text a {
        font-size: 1.4em;
        color: #3a3a3a;
    }

        .child-post .text a:hover {
            color: #0a47ba;
        }

.child-post .description {
    line-height: 22px;
}*/

/*Relate post*/
.relate-post-feature {
    background: #f1f1f1;
    margin: 0 0 2.5em 0;
    padding-bottom: 10px;
}

    .relate-post-feature img {
        width: 100%;
    }

    .relate-post-feature .title-child {
        padding: 0.3333333333em 0.66666666666em 0;
    }

        .relate-post-feature .title-child a {
            color: #3a3a3a;
            font-size: 1em;
            font-weight: 600;
        }

    .relate-post-feature .description-child {
        margin: 0 0 0.5714285714em;
        padding: 0 0.8571428571em;
        font-size: 0.9em;
    }



/* Small devices (phone, <768px) */
@media (max-width: 767px) {
    /*Post*/
    .TinTuc{
        overflow:hidden;
        height:1%;
    }

    child-post {
        margin: 20px 0;
        height: 180px;
    }

    .child-post .title-child-post {
        float: left;
        width: 100%;
    }

    .child-post .text {
        float: left;
        width: 100%;
        margin-left: 15px;
    }

        .child-post .text a {
            font-size: 1.4em;
            color: #3a3a3a;
        }

            .child-post .text a:hover {
                color: #0a47ba;
            }

    .child-post .description {
        line-height: 22px;
    }

    body {
        background-color: #ffffff;
        font-family: Arial;
    }

    .header {
        font-size: 11px;
        font-weight: bold;
        color: #ffffff;
        font-family: Arial;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .Tit-Header {
        text-align: right;
    }

    .Phone-Header {
        text-align: center;
        font-size: 25px;
    }

    .Tooltip {
        position: absolute;
        display: none;
    }

    .Tooltip2 {
        position: absolute;
        display: none;
    }

    .caption {
        position: absolute;
        display: none;
    }

    .Banner {
        padding-left: 0px;
        padding-right: 0px;
    }

    .TieuDe-Top {
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
    }

    .NoiDung-Top {
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
    }

    .Tit-Top {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #337ab7;
    }

    .Top-Footer {
        background-image: url(../img/backgroundDiaCau.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 300px;
    }

    .Mid-Footer {
        background-image: url(../img/Footer.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .LienHe {
        border-top-style: solid;
        padding-top: 10px;
        border-top-width: 0px;
        padding-left: 870px;
    }

    .Phone {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    .DiaChi {
        font-weight: bold;
        font-size: 20px;
    }

    .MenuBar-Bottom {
        margin-top: 5px;
        margin-left: 18px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        list-style: none;
        color: rgb(19, 124, 254);
    }

    .DichVu-All {
        margin-bottom: 3px;
        margin-top: 3px;
        height: 190px;
    }

    .TieuDe-NoiDung {
        display: inline-block;
        text-align: center;
        color: #fff;
        background-color: rgba(19, 124, 254, 0.6);
        border-color: #4cae4c;
        font-size: 12px;
        font-weight: bold;
        height: 30px;
        width: 100%;
        z-index: 2;
        position: absolute;
        padding-top: 7px;
    }

    .btn-Xem {
        height: 30px;
        width: 100%;
        position: absolute;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        padding: 2px 4px;
        border: 1px solid transparent;
        z-index: 2;
        background-color: rgba(57, 132, 57, 0.6);
    }

    .ChuThich-NoiDung {
        margin-top: -30px;
        margin-left: -5%;
        margin-right: 5%;
        z-index: 2;
    }

    .navbar-default .navbar-nav > li > a {
        color: #137CFE;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: red;
        }

    .panel-body {
        background-color: #ffffff;
    }

    .navbar-default {
        border-color: transparent;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 767px) {
    /*Post*/
    .TinTuc{
        overflow:hidden;
        height:1%;
    }

    child-post {
        margin: 20px 0;
        height: 180px;
    }

    .child-post .title-child-post {
        float: left;
        width: 25%;
    }

    .child-post .text {
        float: left;
        width: 70%;
        margin-left: 15px;
    }

        .child-post .text a {
            font-size: 1.4em;
            color: #3a3a3a;
        }

            .child-post .text a:hover {
                color: #0a47ba;
            }

    .child-post .description {
        line-height: 22px;
    }

    body {
        background-color: #ffffff;
        font-family: Arial;
    }

    .header {
        background-color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        font-family: Arial;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Tit-Header {
        text-align: right;
    }

    .Phone-Header {
        text-align: center;
        font-size: 20px;
    }

    .Tooltip {
        position: absolute;
        display: none;
    }

    .Tooltip2 {
        position: absolute;
        display: none;
        border-bottom: 5px;
        border-top: 5px;
    }

    .caption {
        position: absolute;
        display: none;
    }

    .TieuDe-Top {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: bold;
        color: #ffffff;
    }

    .NoiDung-Top {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
    }

    .Tit-Top {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #337ab7;
    }

    .Banner {
        padding-left: 0px;
        padding-right: 0px;
    }

    .Top-Footer {
        background-image: url(../img/backgroundDiaCau.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 300px;
    }

    .Logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .Mid-Footer {
        background-image: url(../img/Footer.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 130px;
        margin-top: 12px;
    }

    .LienHe {
        border-top-style: solid;
        padding-top: 10px;
        border-top-width: 0px;
        padding-left: 870px;
    }

    .MenuBar-Bottom {
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        list-style: none;
        margin-left: -40px;
        color: rgb(19, 124, 254);
    }

    .Item-Bottom {
        color: rgb(19, 124, 254);
    }

        .Item-Bottom:hover {
            color: rgb(19, 124, 254);
            text-decoration: underline;
        }

    .DichVu-All {
        margin-bottom: 10px;
        margin-top: 10px;
        height: 180px;
    }

    .TieuDe-NoiDung {
        text-align: center;
        color: #fff;
        background-color: rgba(19, 124, 254, 0.6);
        border-color: #0167e4;
        font-size: 18px;
        font-weight: bold;
        height: 30px;
        width: 100%;
        z-index: 2;
        position: absolute;
        white-space: nowrap;
    }

    .btn-Xem {
        height: 30px;
        width: 100%;
        position: absolute;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        padding: 6px 12px;
        border: 1px solid transparent;
        z-index: 2;
        background-color: rgba(57, 132, 57, 0.6);
    }

    .ChuThich-NoiDung {
        margin-top: -30px;
        margin-left: -3.5%;
        margin-right: -4.5%;
        z-index: 2;
    }

    .navbar-default .navbar-nav > li > a {
        color: #137CFE;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: red;
        }

    .panel-body {
        background-color: #ffffff;
    }

    .navbar-default {
        border-color: transparent;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*Post*/
    child-post {
        margin: 20px 0;
        height: 180px;
    }

    .child-post .title-child-post {
        float: left;
        width: 25%;
    }

    .child-post .text {
        float: left;
        width: 70%;
        margin-left: 15px;
    }

        .child-post .text a {
            font-size: 1.4em;
            color: #3a3a3a;
        }

            .child-post .text a:hover {
                color: #0a47ba;
            }

    .child-post .description {
        line-height: 22px;
    }

    body {
        background-color: #e2ecf5;
        font-family: Arial;
    }

    /*header*/
    .header {
        background-color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        font-family: Arial;
        margin-bottom: 10px;
    }

    .Tit-Header {
        text-align: right;
        padding-top: 10px;
    }

    .Phone-Header {
        text-align: center;
        font-size: 25px;
        padding-top: 8px;
    }

    .Logo {
        margin-top: -30px;
        margin-left: 75px;
        width: 250px;
    }

    .MenuBar {
        margin-top: 40px;
        font-size: 20px;
        margin-left: 100px;
        background-color: transparent;
    }

    .List-MenuBar1 {
        margin-left: 25px;
    }

    .navbar-default .navbar-nav > li > a {
        color: #137CFE;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: red;
        }

    .panel-body {
        background-color: #ffffff;
    }

    .Body-Top > .panel-body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .navbar-default {
        border-color: transparent;
    }
    /*Footer*/
    .Top-Footer {
        background-image: url(../img/backgroundDiaCau.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 400px;
    }

    .Phone-Footer {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .DiaChi-Footer {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .Mid-Footer {
        background-image: url(../img/Footer.png);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 150px;
        margin-top: 30px;
    }

    .LienHe {
        border-top-style: solid;
        padding-top: 210px;
        border-top-width: 0px;
        padding-left: 870px;
    }

    .Button-LienHe {
        height: 100px;
        width: 120px;
        font-size: 2em;
        font-weight: 600;
    }

    .MenuBar-Bottom {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        list-style: none;
        margin-left: -40px;
        color: rgb(19, 124, 254);
    }

    .TieuDe-Top {
        text-align: center;
        padding-top: 35px;
        font-size: 25px;
        font-weight: bold;
        color: #ffffff;
    }

    .NoiDung-Top {
        /*padding-top:35px;*/
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        color: #ffffff;
    }

    .Tit-Top {
        padding-top: 35px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }

    .DiaChi > span > a:hover {
        text-decoration: underline dashed;
    }

    .Form-Top {
        padding-top: 20px;
    }
    /*Body*/
    /*Trang chủ*/
    .DichVu-All {
        margin-bottom: 13px;
        margin-top: 13px;
        height: 320px;
    }

    .Body-Top {
        background-color: #e2ecf5;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .Body-Bot {
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    /*Nọi dung dịch vụ*/
    .NDDichVu {
        text-indent: 30px;
        font-weight: bold;
    }

    .Hotline {
        color: red;
        text-align: center;
        font-weight: bold;
    }

    .Menu-Trai {
        margin-left: -22px;
        margin-right: -2px;
    }

    .DichVu-Main {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 6px;
    }

    .TieuDe {
        color: #099e1e;
        font-weight: bold;
        text-align: justify;
    }

    .NoiDung {
        font-weight: bold;
        font-size: 13pt;
        text-align: justify;
    }

    .LogoNho {
        margin-top: 30px;
    }

    .LogoTo-Text {
        margin-top: 30px;
    }

    .Banner {
        padding-left: 0px;
        padding-right: 0px;
    }

    .carousel-control {
        width: 10%;
    }

    .TieuDe-NoiDung {
        display: inline-block;
        text-align: center;
        color: #fff;
        float: left;
        background-color: rgba(19, 124, 254, 0.6);
        border-color: #4cae4c;
        font-size: 25px;
        font-weight: bold;
        height: 52px;
        width: 100%;
        z-index: 2;
        position: absolute;
        padding-top: 7px;
    }

    .btn-Xem {
        width: 100%;
        height: 52px;
        float: right;
        position: absolute;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
        padding: 2px 4px;
        border: 1px solid transparent;
        z-index: 2;
        background-color: rgba(57, 132, 57,0.6);
    }

        .btn-Xem:hover {
            text-decoration: none;
        }

    .ChuThich-NoiDung {
        margin-top: -52px;
        margin-left: -2.5%;
        margin-right: 2.5%;
        z-index: 2;
    }

    .DichVu-All {
        -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
        -moz-transition-duration: 0.5s; /*Mozilla duration version*/
        -o-transition-duration: 0.5s; /*Opera duration version*/
        /*margin: 0 10px 5px 0; /*margin between images*/
        z-index: 0;
    }

        .DichVu-All:hover {
            -webkit-transform: scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
            -moz-transform: scale(1.1); /*Mozilla scale version*/
            -o-transform: scale(1.1); /*Opera scale version*/
            z-index: 1;
        }

    .TinTuc {
        height: 120px;
    }
}

/*Hiệu ứng phần dịch vụ*/
.caption {
    position: absolute;
    background: rgba(255, 255, 255, 0);
    width: 95%;
    height: 100%;
    /*margin-left: 15px;
    margin-right: 15px;*/
    display: none;
    color: #fff !important;
}

.Tooltip {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(66, 139, 202, 0.75);
    width: 89%;
    height: 100%;
    padding: 2%;
    margin-left: 15px;
    margin-right: 15px;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}
/*Câu hỏi thường gặp*/
.FAQ {
    margin-left: 50px;
    margin-bottom: 0px;
}
/*Liên hệ*/
.Phone {
    text-align: center;
    font-weight: bold;
}

.DiaChi {
    font-weight: bold;
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.margintop20 {
    margin-top: 20px;
}

.nav-pills > li > a {
    border-radius: 0px;
}

a {
    color: #000;
    text-decoration: none;
}

    a:hover {
        color: #000;
        text-decoration: none;
    }


.nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

.active2 {
    border-right: 4px solid #428bca;
}
